@import "tailwindcss";
@plugin "daisyui" {
    themes: lyonwhitle --default, lyondarkle --prefersdark;
}

@theme {
    --animate-flash-red: flash-red 1s ease;
    --animate-flash-green: flash-green 1s ease;

    @keyframes flash-red {
        0%, 100% {
            background: transparent;
        }
        50% {
            background: var(--color-red-500);
        }
    }

    @keyframes flash-green {
        0%, 100% {
            background: transparent;
        }
        50% {
            background: var(--color-green-500);
        }
    }
}

@plugin "daisyui/theme" {
    name: "lyonwhitle";
    default: true;

    --color-primary: oklch(52.19% 0.231 24.58);
    --color-primary-content: oklch(98% 0.01 24.58);
    --color-base-100: oklch(99% 0.005 85); 
    --color-base-200: oklch(97% 0.012 85);
    --color-base-300: oklch(94% 0.018 85);
    --color-base-content: oklch(15% 0 0);
    --color-secondary: oklch(45% 0 0);
    --color-secondary-content: oklch(98% 0 0);
    --color-accent: oklch(85% 0.15 90);
    --color-accent-content: oklch(25% 0.05 90);
    --color-neutral: oklch(25% 0.02 24.58);
    --color-neutral-content: oklch(98% 0 0);
    --color-info: oklch(65% 0.15 250);
    --color-success: oklch(70% 0.18 150);
    --color-success-content: oklch(32% 0.18 150);
    --color-warning: oklch(80% 0.17 70);
    --color-error: oklch(55% 0.22 25);
    --color-error-content: oklch(35% 0.22 25);
    --radius-selector: 0.125rem;
    --radius-field: 0.125rem;
    --radius-box: 0.25rem;
    --border: 1px;
}


@plugin "daisyui/theme" {
  name: "lyondarkle";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(0% 0 0);
  --color-base-200: oklch(19% 0 0);
  --color-base-300: oklch(22% 0 0);
  --color-base-content: oklch(87.609% 0 0);
  --color-primary: oklch(52.2% 0.297 24.580);
  --color-primary-content: oklch(98% 0.01 24.58);
  --color-secondary: oklch(45% 0 0);
  --color-secondary-content: oklch(98% 0 0);
  --color-accent: oklch(85% 0.15 90);
  --color-accent-content: oklch(25% 0.05 90);
  --color-neutral: oklch(5.1% 0.370 24.580);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(65% 0.15 250);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(70% 0.18 150);
  --color-success-content: oklch(92% 0.22 150);
  --color-warning: oklch(80% 0.17 70);
  --color-warning-content: oklch(26% 0.079 36.259);
  --color-error: oklch(55% 0.22 25);
  --color-error-content: oklch(90% 0.24 25);
  --radius-selector: 0.125rem;
  --radius-field: 0.125rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

.text-dyn-lg {
    @apply text-[clamp(0.8rem,2.5cqi,0.85rem)];
}

.text-dyn-md {
    @apply text-[clamp(0.65rem,2.4cqi,0.80rem)];
}

.text-dyn-sm {
    @apply text-[clamp(0.43rem,2.3cqi,0.70rem)];
}

.text-dyn-xs {
    @apply text-[clamp(0.3rem,2.2cqi,0.65rem)];
}

.img-w-dyn {
    @apply w-[clamp(1.3rem,4cqi,2.2rem)];
}

strong {
    @apply text-primary;
}
